/* Variables */
:root {
    --first-background: #F0F2F5;
    --second-background: #2D4A22;
    --shape-background: #49AA26;
    
    --shape-principal: #FFFFFF;
    --titles: #363F5F;
    --texts: #969CB2;

    --numb-decoration-green: #49AA26;
    --numb-decoration-red: #E92929;

    --button-color: #3dd705;

    --default-font: 'Poppins';
}

/* Variables */

/* General */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html{
    font-size: 93.75%;
}

/* Body */
body {
    background-color: var(--first-background);

    font-family: var(--default-font), 'sans-serif';
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;

    padding: 0;
    margin: -1px;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
} 

/* Container */
.container {
    width: min(90vw, 800px);

    margin: auto;
}


h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    
    color: var(--titles);
    font-weight: normal;
}

/* General */


/* Header */
header {
    text-align: center;

    background-color: var(--second-background);
    padding: 2rem 0 10rem;
}

#logo {
    color: var(--shape-principal);
    
    font-weight: 100;
}

/* Header */

/* Balance */

#balance {
    margin-top: -8rem;
}

#balance h2{
    color: var(--shape-principal);
    margin-top: 0;
}

/* Balance */

/* Cards */

.cards {
    background-color: var(--shape-principal);
    color: var(--titles);

    padding: 1.5rem 3.5rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;

}

.cards h3{
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cards p{
    font-size: 2rem;
    line-height: 3rem;
    
    margin-top: 1rem;
}

.cards.total{
    background-color: var(--shape-background);

    color: var(--shape-principal);
}

/* Cards */

/* Button */

a {
    color: var(--shape-background);
    text-decoration: none;
    
}

button {
    width: 100%;
    height: 50px;

    border: none;

    color: var(--shape-principal);
    background-color: var(--numb-decoration-green);

    padding: 0;
    border-radius: 0.25rem;

    cursor: pointer;
}

button:hover {
    background-color: var(--button-color);
}

.button.cancel {
    height: 50px;

    color: var(--numb-decoration-red);

    border: 2px var(--numb-decoration-red) solid;
    border-radius: 0.25rem;
    opacity: 0.6;


    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button.cancel:hover {
    opacity: 1;
}


a:hover {
    color: var(--button-color);
}

.button.new {
    margin-bottom: .8rem;

    display: inline-block;
}

/* Button */


/* Table */
#transaction{
    display: block;
    overflow-x: auto;
    width: 100%;
}

#data-table {
    width: 100%;

    border-spacing: 0 0.5rem;

    color: var(--texts);    
}


table thead th {
    background-color: var(--shape-principal);

    font-weight: normal;
    text-align: left;

    padding: 1rem 2rem;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background-color: var(--shape-principal);
    
    padding: 1rem 2rem;
}

table thead th:first-child,
table tbody td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead th:last-child,
table tbody td:last-child {
    border-radius: 0 0.25rem 0.25rem 0 ;
}

td.description {
    color: var(--titles);
}

td.income {
    color: var(--numb-decoration-green);
    
}

td.expense {
    color: var(--numb-decoration-red);
}

/* Table */



/* Modal */
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
    
}

.modal {
    background-color: var(--first-background);

    padding: 2.4rem;

    position: relative;
    z-index: 1;
}

/* Modal */

/* Form */

.form {
    max-width: 500px;

}

.form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    color: var(--texts);
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}


/* Form */

/* Footer */

footer {
    text-align: center;
    color: var(--titles);
    opacity: 0.6;

    padding: 4rem 0 2rem;
}

/* Footer */

/* RESPONSIVE */

@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }






}


























